<%= render partial: "shared/back_button" %>
<div class="container" style="width: 40%;">
  <h2 class="text-center pt-4">Add a new Category</h2>
  <%= form_with model: @group, url: groups_path, method: :post do |form| %>
    <div class="col-sm-10">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, :required => "required", autofocus: true, class: "form-control" %>
    </div>
     <div class="col-sm-10">
        <%= form.label :icon, class: "form-label" %>
        <em>(Enter a url link to an image)</em>
        <%= form.text_field :icon, :required => "required", autofocus: true, class: "form-control" %>
    </div>
     <div class="my-3">
        <%= form.submit "Add Category", class: "btn btn-info" %>
    </div>
  <% end %>
</div>